<h1>Equipment List</h1>

<% @equipments.each do |e| %>
    <div class="ui card">
        <a class="image" href="<%= equipment_path(e) %>">
        <img src="<%= e.img_url %>" height=200>
        </a>
        <div class="content">
            <a class="header" href="<%= equipment_path(e) %>"><%= e.name %></a>
        </div>
    </div>
<% end %>