<h1><%= @equipment.name %></h1>
<img src="<%= @equipment.img_url %>">

<h2>Found at these gyms:</h2>
<ul>
  <% @equipment.gyms.each do |gym| %>
    <li><%= link_to gym.name, gym %></li>
  <% end %>
</ul>