<h1>Gym List</h1>
<ul>
<% @gyms.each do |g| %>
    <li><img src="<%= g.img_url %>" height=200>
    <h2><%= link_to g.name, g %></h2>
    <%= g.address %><br>
    <h3>Equipment Available:</h3>
    <% g.equipments.uniq.each do |e| %>
        <%= link_to e.name, e %><br></li>
    <% end %>
<% end %>
</ul>