@import "semantic-ui";
@import "shared/mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 15px 0;


  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px 60px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;

  &:hover{
    text-decoration: none;
    color:black
  }
}
* {
box-sizing: border-box;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;


  .logo-container {
    height: 100%;
    width: 70px;
  }

  .options {
    width: 53%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

.form {
  display: flex; 
  margin: 0 auto;
  flex-direction: column;
  width: 380px;

  .title {
      margin: 10px 0;
  }
}

.logo {
  width: 120px;
  height: 120px;
  margin-top: -20px;
}

.ui-button-pink {
  display: flex;
  justify-content: space-between;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  background-color:#e03997;
  color: white;
  text-align: center;
}

.icon {
  padding: 10px 15px;
  cursor: pointer;
  margin-top: -10px;
}
